body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: #020617;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
  border-radius: 6px;
  padding: 10px;
}

.controle {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 80px;
  padding: 6px;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
  border-radius: 6px;
}

button {
  width: 48%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

pre {
  background: #020617;
  border: 1px solid #334155;
  padding: 10px;
  border-radius: 6px;
  margin-top: 15px;
}

#historico {
  margin-top: 15px;
}

.historico-item {
  background: #020617;
  border: 1px solid #334155;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.info {
  margin-top: 8px;
  font-size: 14px;
  color: #94a3b8;
}

#totalNomes {
  color: #22c55e;
  font-weight: bold;
}
